
.image-container {
    position: relative;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
  }

  .home-container{
    padding: 20px;
  }
 .trip-listing-form{
    padding: 20px;
 }