.user-info-container {
    max-width: 1300px;
    margin: 30px auto;
    padding: 20px;
}
.user-info-container h1{
    text-align: left;
    padding-bottom: 10px;
}

.user-info-wrapper{
    display: flex;

}

.user-image {
    flex: 0 0 45%;
    margin-right: 20px;
    border: 1px solid #ccc;
    border-radius: 20px; 
    overflow: hidden; /* Ensure the image stays within the border */
}

.user-image img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}


.profile-info {
    flex: 1; /* Take up remaining space */
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 20px;
    position: relative; 
    display: flex;
    flex-direction: column; 
}
  
  .profile-info-container p {
    font-size: 16px;
    margin-bottom: 8px;
  }
  
  .profile-info-container strong {
    font-weight: bold;
  }
  
  .profile-info-container a {
    color: #007bff;
    text-decoration: none;
  }
  
  .profile-info-container a:hover {
    text-decoration: underline;
  }
  

.user-update-form{
  padding: 20px;
}


.button-container button{
  background-color: #381431;
  color: #fff;
  border: #381431 solid 4px;
  border-radius: 8px;
  margin:10px;
  padding: 15px 30px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.5s;
}
.button-container button:hover{
  border: #381431 solid 4px;
  background-color: #EFDAD1;
  color: #381431;
}
