.booking-list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; 
  list-style: none;
  padding: 0;
  }
  
  .booking-container {
    width: calc(33.33% - 10px); 
    margin-bottom: 20px; 
  }
  .status-pending {
    color: orange;
  }
  
  .status-cancelled {
    color: red;
  }
  
  .status-confirmed {
    color: green;
  }

  .review-list-container{
    flex-wrap: wrap;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    display: flex;
  }

  .mybooking-list-container {
    flex-wrap: wrap;
    justify-content: space-between; 
    list-style: none;
    padding: 0;
    }

    .booking-container {
      width: calc(33.33% - 10px); 
      margin-bottom: 20px; 
    }