.trip-container{
    width: 80%;
    margin: 10px;
    padding: 20px;
    border: #381431 solid 4px;
    box-shadow: 5px 6px 8px #381431;
    border-radius: 0px 0px 15px 15px;
    text-align: center;
}
.trip-container img{
    width: 100%;
    height: auto;
}

.trip-container h2{
    margin-top: 20px;
    font-size: 30px;
}
.trip-container p{
    margin-top: 5px;
}
ul{
    /*display: flex;  Use flexbox to align items horizontally */
    justify-content: center;
}
.trip-container a {
    color: black; 
    text-decoration: none; 
    font-weight: bold;
    transition: font-size 0.3s; 
}

.trip-container a:hover {
    font-size: 120%; 
    color: #381431; 
}

